# Python 3.11
keras 
tensorflow 
typing-extensions==4.5.0
ipython==7.31.1
torch==2.0.0 
torchvision==0.16.0+cu118 -f https://download.pytorch.org/whl/torch_stable.html scikit-learn
opencv-python
xformers==0.0.22.post4+cu118 --index-url https://download.pytorch.org/whl/cu118
ipykernel